<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INFO COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-grid>
    <h4 class="ion-text-center">Jumlah Kasus di Indonesia Saat Ini</h4>
    <p class="ion-text-center">Pembaruan Terakhir: {{lastUpdate | date: 'dd/MM/yyyy H:mm a'}}</p>
    <ion-row class="header" *ngIf="countryid">
        <ion-col style="background:#3dc2ff" class="ion-text-center">
          <h1>{{countryid['confirmed']['value']}}</h1>
          <p>POSITIF</p>
        </ion-col>
        <ion-col style="background:#2dd36f" class="ion-text-center">
          <h1>{{countryid['recovered']['value']}}</h1>
          <p>SEMBUH</p>
        </ion-col>
        <ion-col style="background:#eb445a" class="ion-text-center">
          <h1>{{countryid['deaths']['value']}}</h1>
          <p>MENINGGAL</p>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>Negara</div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>Confirm</div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>Recover</div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>Deaths</div>
      </ion-col>
    </ion-row>
    
    <ion-row *ngFor="let data of countryall">
      <ion-col size="4">
        <div><span *ngIf="data.provinceState">{{data.attributes.Provinsi}},</span> {{data.attributes.Provinsi}}</div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div>{{data.attributes.Kasus_Posi | number}}</div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div>{{data.attributes.Kasus_Semb | number}}</div>
      </ion-col>
      <ion-col class="ion-text-right">
        <div>{{data.attributes.Kasus_Meni | number}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
